:root {
  --border-color: #00000027;
}

body {
    background-color: #171c24;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
}

header {
    background-color: #3939c8 !important;
    color: white !important;
    padding: 10px !important;
    height: 100px !important;
    text-align: center;
    margin: 0;
}