:root {
  --border-color: #00000027;
}

body {
    background-color: #171c24;
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
}

header {
    background-color: #3939c8 !important;
    color: white !important;
    padding: 10px !important;
    height: 100px !important;
    text-align: center;
    margin: 0;
}

footer {
    background-color: #193968 !important;
    color: white !important;
    padding: 20px !important;
    height: 150px !important;
    border-top: 1px solid white !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
}

footer div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh; /* A láblécben a szöveg magassága töltse ki a lábléc blokk magassága-padding méretet ❔❔❔❔ */
}