body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-color: #aaaaff;
    color: black;
}

nav {
    background-color:  #3939c8;
    color: black;
    padding: 10px;
    height: 100px;
    width: 100%;
}

footer {
    background-color: #193968;
    color: white;
    padding: 20px;
    height: 150px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
}